
// these two params are necessary in the config so the profiles for conda and docker/singularity work properly
params.container   = "atpoint/nf_blank:v1.0"
params.environment = "$baseDir/environment.yml"

profiles {
    
    local {
        docker.enabled          = false
        singularity.enabled     = false
        conda.enabled           = false
    }

    docker {
        process.container       = params.container
        docker.enabled          = true        
    }

    singularity {
        process.container       = "docker://${params.container}"
        singularity.enabled     = true
        singularity.autoMounts  = true
    }

    conda {
        process.conda           = params.environment
        conda.enabled           = true
    }

    // example when using the SLURM scheduler, assuming a queue named "normal" and a runtime of 2h 
    slurm {
        process.executor        = 'slurm'
        process.queue           = 'normal'
        process.clusterOptions  = '--time=02:00:00'
    }

}
